<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeAlpha Data Redundancy Removal System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>CodeAlpha Data Redundancy Removal System</h1>

        <form action="/add" method="POST">

            <label>Full Name</label>

            <input
                type="text"
                name="full_name"
                placeholder="Enter full name"
                required> 

            <label>Email</label>

            <input
                type="email"
                name="email"
                placeholder="Enter email"
                required>

            <label>Phone Number</label>

            <input
                type="text"
                name="phone"
                placeholder="Enter phone number"
                required>

            <button type="submit">
                Add Record
            </button>

        </form>

    </div>

</body>
</html>